<div class="addBtn">
    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add New Department</button>
    </div>

<div class="container">   

    <div class="tableData">
    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z6">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Department Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="deptName">
        <th mat-header-cell *matHeaderCellDef> Department Name </th>
        <td mat-cell *matCellDef="let element"> {{element.deptName}} </td>
      </ng-container>

       <ng-container matColumnDef="deptHOD">
        <th mat-header-cell *matHeaderCellDef> Department HOD </th>
        <td mat-cell *matCellDef="let element"> {{element.deptHOD}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialog('Update',element)">Edit</a> | 
          <a (click)="openDialog('Delete',element)">Delete</a>  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  
  </div>