
<h1 mat-dialog-title><strong>{{action}} Department Details</strong></h1>
<hr style="background-color: #003DA6;height: 2px;">

<div mat-dialog-content>

  <div *ngIf="action != 'Delete'; else elseTemplate">  
  <mat-form-field  appearance="outline">
    <mat-label>Department Id</mat-label>
    <input placeholder="{{action}} Department ID" matInput [(ngModel)]="local_data.id" [disabled]="readonly">
  </mat-form-field>

  <mat-form-field  appearance="outline">
    <mat-label>Department Name</mat-label>
    <input placeholder="{{action}} Department Name" matInput [(ngModel)]="local_data.deptName">
  </mat-form-field>

  <mat-form-field  appearance="outline">
    <mat-label>Department HOD</mat-label>
    <input placeholder="{{action}} Department HOD" matInput [(ngModel)]="local_data.deptHOD">
  </mat-form-field>

  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.deptName}}</b>?
  </ng-template>

</div>

<div mat-dialog-actions style="float: right;">
  <button mat-button (click)="doAction()" mat-flat-button color="primary">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>