.cover {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  .panel {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;    ;
    min-height: 50px;
    background-color: #003DA6;
  }
  
  .content {
    margin-left: 2%;
    margin-right: 2%
  }
  
  #title {
    color: rgba(128, 0, 128, 0.671);
    margin-top: 1%;
    margin-left: 2.5%;
    font-weight: bold;
    font-size: 24px;
  }
  #dash {
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  
  .col-lg-4 {
    margin-top: 12px;
  }
  
  #dash:hover {
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(128, 0, 128, 0);
    cursor: pointer;
  }
  