<div class="cover">
    <p id="title">Department | Dashboard
    </p>
    <hr style="background-color: #003DA6;height: 2px;margin-left: 2%;margin-right: 2%;">
    <div class="panel">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <a routerLink="/Dashboard/showDepartment" id="dash">Information of All Department's Details</a>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>    
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  